USE [AplicacionWeb]
GO
/****** Object:  Table [dbo].[Afiliado]    Script Date: 22/11/2022 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Afiliado](
	[AfiliadoID] [int] IDENTITY(1,1) NOT NULL,
	[nroDNI] [int] NOT NULL,
	[Nombre] [nchar](20) NOT NULL,
	[Apellido] [nchar](20) NOT NULL,
	[IDLocalidad] [int] NOT NULL,
	[IDPlan] [int] NOT NULL,
	[NroAfiliado] [nchar](20) NULL,
 CONSTRAINT [PK_Afiliado] PRIMARY KEY CLUSTERED 
(
	[AfiliadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Año]    Script Date: 22/11/2022 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Año](
	[AñoID] [int] IDENTITY(1,1) NOT NULL,
	[NombreAño] [int] NOT NULL,
 CONSTRAINT [PK_Año] PRIMARY KEY CLUSTERED 
(
	[AñoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Dia]    Script Date: 22/11/2022 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Dia](
	[DiaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreDia] [char](10) NOT NULL,
 CONSTRAINT [PK_Dia] PRIMARY KEY CLUSTERED 
(
	[DiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DisponibilidadMedico]    Script Date: 22/11/2022 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DisponibilidadMedico](
	[DisponibilidadID] [int] IDENTITY(1,1) NOT NULL,
	[IDMedico] [int] NOT NULL,
	[IDDia] [int] NOT NULL,
	[Consultorio] [int] NOT NULL,
	[HorarioInicio] [time](7) NOT NULL,
	[HorarioFin] [time](7) NOT NULL,
	[IDSucursal] [int] NOT NULL,
 CONSTRAINT [PK_DisponibilidadMedico] PRIMARY KEY CLUSTERED 
(
	[DisponibilidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Especialidad]    Script Date: 22/11/2022 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[EspecialidadId] [int] IDENTITY(1,1) NOT NULL,
	[EspecialidadDescripcion] [nchar](50) NULL,
 CONSTRAINT [PK_Especialidad] PRIMARY KEY CLUSTERED 
(
	[EspecialidadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FechaTurno]    Script Date: 22/11/2022 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FechaTurno](
	[FechaTurnoID] [int] IDENTITY(1,1) NOT NULL,
	[IDDia] [int] NOT NULL,
	[IDHorario] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
 CONSTRAINT [PK_FechaTurno] PRIMARY KEY CLUSTERED 
(
	[FechaTurnoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Horario]    Script Date: 22/11/2022 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horario](
	[HorarioID] [int] IDENTITY(1,1) NOT NULL,
	[Hora] [time](7) NOT NULL,
 CONSTRAINT [PK_Horario] PRIMARY KEY CLUSTERED 
(
	[HorarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Localidad]    Script Date: 22/11/2022 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidad](
	[LocalidadId] [int] IDENTITY(1,1) NOT NULL,
	[LocalidadDescripcion] [nchar](50) NOT NULL,
	[IDProvincia] [int] NOT NULL,
 CONSTRAINT [PK_Localidad] PRIMARY KEY CLUSTERED 
(
	[LocalidadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Medico]    Script Date: 22/11/2022 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico](
	[MedicoID] [int] IDENTITY(1,1) NOT NULL,
	[IDEspecialidad] [int] NOT NULL,
	[IDUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Medico] PRIMARY KEY CLUSTERED 
(
	[MedicoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MedicoSucursal]    Script Date: 22/11/2022 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicoSucursal](
	[IDMedicoSucursal] [int] IDENTITY(1,1) NOT NULL,
	[IDMedico] [int] NOT NULL,
	[IDSucursal] [int] NOT NULL,
 CONSTRAINT [PK_MedicoSucursal] PRIMARY KEY CLUSTERED 
(
	[IDMedicoSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mes]    Script Date: 22/11/2022 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mes](
	[MesID] [int] IDENTITY(1,1) NOT NULL,
	[NombreMes] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Mes] PRIMARY KEY CLUSTERED 
(
	[MesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ObraSocial]    Script Date: 22/11/2022 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObraSocial](
	[ObraSocialId] [int] IDENTITY(1,1) NOT NULL,
	[ObraSocialDescripcion] [nchar](50) NOT NULL,
 CONSTRAINT [PK_ObraSocial] PRIMARY KEY CLUSTERED 
(
	[ObraSocialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 22/11/2022 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[PerfilId] [int] IDENTITY(1,1) NOT NULL,
	[PerfilDescripcion] [nchar](10) NULL,
	[PerfilHabilitado] [bit] NULL,
 CONSTRAINT [PK_Perfil] PRIMARY KEY CLUSTERED 
(
	[PerfilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PlanObraSocial]    Script Date: 22/11/2022 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanObraSocial](
	[PlanId] [int] IDENTITY(1,1) NOT NULL,
	[PlanDescripcion] [nchar](50) NOT NULL,
	[IDObraSocial] [int] NOT NULL,
 CONSTRAINT [PK_Plan] PRIMARY KEY CLUSTERED 
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 22/11/2022 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[ProvinciaId] [int] IDENTITY(1,1) NOT NULL,
	[ProvinciaDescripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[ProvinciaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ServidorMail]    Script Date: 22/11/2022 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ServidorMail](
	[ID] [int] NOT NULL,
	[Mail] [varchar](50) NOT NULL,
	[Pass] [varchar](200) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sucursal]    Script Date: 22/11/2022 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursal](
	[SucursalId] [int] IDENTITY(1,1) NOT NULL,
	[SucursalDescripcion] [nvarchar](50) NOT NULL,
	[IDLocalidad] [int] NOT NULL,
 CONSTRAINT [PK_Sucursal] PRIMARY KEY CLUSTERED 
(
	[SucursalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Turno]    Script Date: 22/11/2022 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turno](
	[TurnoId] [int] IDENTITY(1,1) NOT NULL,
	[IDFechaTurno] [int] NOT NULL,
	[IDMedico] [int] NOT NULL,
	[IDEspecialidad] [int] NOT NULL,
	[IDProvincia] [int] NOT NULL,
	[IDLocalidad] [int] NOT NULL,
	[IDSucursal] [int] NOT NULL,
	[IDUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Turno] PRIMARY KEY CLUSTERED 
(
	[TurnoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 22/11/2022 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[IDAfiliado] [int] NOT NULL,
	[UsuarioContraseña] [varchar](200) NOT NULL,
	[UsuarioEmail] [varchar](50) NOT NULL,
	[IDPerfil] [int] NOT NULL,
	[isMedico] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Afiliado] ON 

INSERT [dbo].[Afiliado] ([AfiliadoID], [nroDNI], [Nombre], [Apellido], [IDLocalidad], [IDPlan], [NroAfiliado]) VALUES (1, 40310908, N'Florencia           ', N'Galvan              ', 1, 1, N'PAC-40310908        ')
INSERT [dbo].[Afiliado] ([AfiliadoID], [nroDNI], [Nombre], [Apellido], [IDLocalidad], [IDPlan], [NroAfiliado]) VALUES (2, 41085447, N'Esteban             ', N'Tosoni              ', 2, 1, N'PAC-41085447        ')
INSERT [dbo].[Afiliado] ([AfiliadoID], [nroDNI], [Nombre], [Apellido], [IDLocalidad], [IDPlan], [NroAfiliado]) VALUES (3, 43283893, N'Thiago              ', N'Quaglia             ', 1, 1, N'PAC-43283893        ')
SET IDENTITY_INSERT [dbo].[Afiliado] OFF
SET IDENTITY_INSERT [dbo].[Dia] ON 

INSERT [dbo].[Dia] ([DiaID], [NombreDia]) VALUES (1, N'Lunes     ')
INSERT [dbo].[Dia] ([DiaID], [NombreDia]) VALUES (2, N'Martes    ')
INSERT [dbo].[Dia] ([DiaID], [NombreDia]) VALUES (3, N'Miercoles ')
SET IDENTITY_INSERT [dbo].[Dia] OFF
SET IDENTITY_INSERT [dbo].[DisponibilidadMedico] ON 

INSERT [dbo].[DisponibilidadMedico] ([DisponibilidadID], [IDMedico], [IDDia], [Consultorio], [HorarioInicio], [HorarioFin], [IDSucursal]) VALUES (1, 1, 1, 1, CAST(N'08:00:00' AS Time), CAST(N'18:00:00' AS Time), 2)
INSERT [dbo].[DisponibilidadMedico] ([DisponibilidadID], [IDMedico], [IDDia], [Consultorio], [HorarioInicio], [HorarioFin], [IDSucursal]) VALUES (2, 1, 2, 1, CAST(N'08:00:00' AS Time), CAST(N'18:00:00' AS Time), 2)
INSERT [dbo].[DisponibilidadMedico] ([DisponibilidadID], [IDMedico], [IDDia], [Consultorio], [HorarioInicio], [HorarioFin], [IDSucursal]) VALUES (3, 1, 3, 1, CAST(N'08:00:00' AS Time), CAST(N'18:00:00' AS Time), 2)
SET IDENTITY_INSERT [dbo].[DisponibilidadMedico] OFF
SET IDENTITY_INSERT [dbo].[Especialidad] ON 

INSERT [dbo].[Especialidad] ([EspecialidadId], [EspecialidadDescripcion]) VALUES (1, N'Cardiología                                       ')
INSERT [dbo].[Especialidad] ([EspecialidadId], [EspecialidadDescripcion]) VALUES (2, N'Cirugía                                           ')
INSERT [dbo].[Especialidad] ([EspecialidadId], [EspecialidadDescripcion]) VALUES (3, N'Dermatologia                                      ')
SET IDENTITY_INSERT [dbo].[Especialidad] OFF
SET IDENTITY_INSERT [dbo].[FechaTurno] ON 

INSERT [dbo].[FechaTurno] ([FechaTurnoID], [IDDia], [IDHorario], [Fecha]) VALUES (1, 1, 1, CAST(N'2022-11-21' AS Date))
SET IDENTITY_INSERT [dbo].[FechaTurno] OFF
SET IDENTITY_INSERT [dbo].[Horario] ON 

INSERT [dbo].[Horario] ([HorarioID], [Hora]) VALUES (1, CAST(N'08:00:00' AS Time))
INSERT [dbo].[Horario] ([HorarioID], [Hora]) VALUES (2, CAST(N'08:30:00' AS Time))
INSERT [dbo].[Horario] ([HorarioID], [Hora]) VALUES (3, CAST(N'09:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Horario] OFF
SET IDENTITY_INSERT [dbo].[Localidad] ON 

INSERT [dbo].[Localidad] ([LocalidadId], [LocalidadDescripcion], [IDProvincia]) VALUES (1, N'Arroyo Seco                                       ', 1)
INSERT [dbo].[Localidad] ([LocalidadId], [LocalidadDescripcion], [IDProvincia]) VALUES (2, N'Rosario                                           ', 1)
INSERT [dbo].[Localidad] ([LocalidadId], [LocalidadDescripcion], [IDProvincia]) VALUES (3, N'Villa Constitucion                                ', 1)
SET IDENTITY_INSERT [dbo].[Localidad] OFF
SET IDENTITY_INSERT [dbo].[Medico] ON 

INSERT [dbo].[Medico] ([MedicoID], [IDEspecialidad], [IDUsuario]) VALUES (1, 1, 6)
INSERT [dbo].[Medico] ([MedicoID], [IDEspecialidad], [IDUsuario]) VALUES (2, 1, 7)
INSERT [dbo].[Medico] ([MedicoID], [IDEspecialidad], [IDUsuario]) VALUES (3, 1, 8)
SET IDENTITY_INSERT [dbo].[Medico] OFF
SET IDENTITY_INSERT [dbo].[MedicoSucursal] ON 

INSERT [dbo].[MedicoSucursal] ([IDMedicoSucursal], [IDMedico], [IDSucursal]) VALUES (1, 1, 2)
INSERT [dbo].[MedicoSucursal] ([IDMedicoSucursal], [IDMedico], [IDSucursal]) VALUES (2, 2, 2)
INSERT [dbo].[MedicoSucursal] ([IDMedicoSucursal], [IDMedico], [IDSucursal]) VALUES (3, 3, 2)
SET IDENTITY_INSERT [dbo].[MedicoSucursal] OFF
SET IDENTITY_INSERT [dbo].[ObraSocial] ON 

INSERT [dbo].[ObraSocial] ([ObraSocialId], [ObraSocialDescripcion]) VALUES (1, N'OSDE                                              ')
INSERT [dbo].[ObraSocial] ([ObraSocialId], [ObraSocialDescripcion]) VALUES (2, N'Swiss Medical                                     ')
SET IDENTITY_INSERT [dbo].[ObraSocial] OFF
SET IDENTITY_INSERT [dbo].[Perfil] ON 

INSERT [dbo].[Perfil] ([PerfilId], [PerfilDescripcion], [PerfilHabilitado]) VALUES (1, N'Admin     ', 1)
INSERT [dbo].[Perfil] ([PerfilId], [PerfilDescripcion], [PerfilHabilitado]) VALUES (2, N'Medico    ', 1)
INSERT [dbo].[Perfil] ([PerfilId], [PerfilDescripcion], [PerfilHabilitado]) VALUES (3, N'Paciente  ', 1)
SET IDENTITY_INSERT [dbo].[Perfil] OFF
SET IDENTITY_INSERT [dbo].[PlanObraSocial] ON 

INSERT [dbo].[PlanObraSocial] ([PlanId], [PlanDescripcion], [IDObraSocial]) VALUES (1, N'Familiar                                          ', 1)
INSERT [dbo].[PlanObraSocial] ([PlanId], [PlanDescripcion], [IDObraSocial]) VALUES (2, N'Oro                                               ', 1)
INSERT [dbo].[PlanObraSocial] ([PlanId], [PlanDescripcion], [IDObraSocial]) VALUES (3, N'Plata                                             ', 1)
SET IDENTITY_INSERT [dbo].[PlanObraSocial] OFF
SET IDENTITY_INSERT [dbo].[Provincia] ON 

INSERT [dbo].[Provincia] ([ProvinciaId], [ProvinciaDescripcion]) VALUES (1, N'Santa Fe')
SET IDENTITY_INSERT [dbo].[Provincia] OFF
INSERT [dbo].[ServidorMail] ([ID], [Mail], [Pass]) VALUES (1, N'mailfortestingaus@gmail.com', N'hnmkjvpilnmktujj')
SET IDENTITY_INSERT [dbo].[Sucursal] ON 

INSERT [dbo].[Sucursal] ([SucursalId], [SucursalDescripcion], [IDLocalidad]) VALUES (1, N'Sede Arroyo Seco', 1)
INSERT [dbo].[Sucursal] ([SucursalId], [SucursalDescripcion], [IDLocalidad]) VALUES (2, N'Sede Rosario Centro', 2)
SET IDENTITY_INSERT [dbo].[Sucursal] OFF
SET IDENTITY_INSERT [dbo].[Turno] ON 

INSERT [dbo].[Turno] ([TurnoId], [IDFechaTurno], [IDMedico], [IDEspecialidad], [IDProvincia], [IDLocalidad], [IDSucursal], [IDUsuario]) VALUES (1, 1, 1, 1, 1, 2, 2, 1)
SET IDENTITY_INSERT [dbo].[Turno] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([UsuarioID], [IDAfiliado], [UsuarioContraseña], [UsuarioEmail], [IDPerfil], [isMedico]) VALUES (1, 1, N'123456', N'asd@gmail.com', 3, 0)
INSERT [dbo].[Usuario] ([UsuarioID], [IDAfiliado], [UsuarioContraseña], [UsuarioEmail], [IDPerfil], [isMedico]) VALUES (3, 2, N'123456', N'tosoniesteban16@gmail.com', 3, 0)
INSERT [dbo].[Usuario] ([UsuarioID], [IDAfiliado], [UsuarioContraseña], [UsuarioEmail], [IDPerfil], [isMedico]) VALUES (4, 3, N'123456', N'thiagoqua16@gmail.com', 3, 0)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
ALTER TABLE [dbo].[Afiliado]  WITH CHECK ADD  CONSTRAINT [FK_Afiliado_Localidad] FOREIGN KEY([IDLocalidad])
REFERENCES [dbo].[Localidad] ([LocalidadId])
GO
ALTER TABLE [dbo].[Afiliado] CHECK CONSTRAINT [FK_Afiliado_Localidad]
GO
ALTER TABLE [dbo].[Afiliado]  WITH CHECK ADD  CONSTRAINT [FK_Afiliado_Plan] FOREIGN KEY([IDPlan])
REFERENCES [dbo].[PlanObraSocial] ([PlanId])
GO
ALTER TABLE [dbo].[Afiliado] CHECK CONSTRAINT [FK_Afiliado_Plan]
GO
ALTER TABLE [dbo].[DisponibilidadMedico]  WITH CHECK ADD  CONSTRAINT [FK_DisponibilidadMedico_Dia] FOREIGN KEY([IDDia])
REFERENCES [dbo].[Dia] ([DiaID])
GO
ALTER TABLE [dbo].[DisponibilidadMedico] CHECK CONSTRAINT [FK_DisponibilidadMedico_Dia]
GO
ALTER TABLE [dbo].[DisponibilidadMedico]  WITH CHECK ADD  CONSTRAINT [FK_DisponibilidadMedico_Medico] FOREIGN KEY([IDMedico])
REFERENCES [dbo].[Medico] ([MedicoID])
GO
ALTER TABLE [dbo].[DisponibilidadMedico] CHECK CONSTRAINT [FK_DisponibilidadMedico_Medico]
GO
ALTER TABLE [dbo].[DisponibilidadMedico]  WITH CHECK ADD  CONSTRAINT [FK_DisponibilidadMedico_Sucursal] FOREIGN KEY([IDSucursal])
REFERENCES [dbo].[Sucursal] ([SucursalId])
GO
ALTER TABLE [dbo].[DisponibilidadMedico] CHECK CONSTRAINT [FK_DisponibilidadMedico_Sucursal]
GO
ALTER TABLE [dbo].[FechaTurno]  WITH CHECK ADD  CONSTRAINT [FK_FechaTurno_Dia] FOREIGN KEY([IDDia])
REFERENCES [dbo].[Dia] ([DiaID])
GO
ALTER TABLE [dbo].[FechaTurno] CHECK CONSTRAINT [FK_FechaTurno_Dia]
GO
ALTER TABLE [dbo].[FechaTurno]  WITH CHECK ADD  CONSTRAINT [FK_FechaTurno_Horario] FOREIGN KEY([IDHorario])
REFERENCES [dbo].[Horario] ([HorarioID])
GO
ALTER TABLE [dbo].[FechaTurno] CHECK CONSTRAINT [FK_FechaTurno_Horario]
GO
ALTER TABLE [dbo].[Localidad]  WITH CHECK ADD  CONSTRAINT [FK_Localidad_Provincia] FOREIGN KEY([IDProvincia])
REFERENCES [dbo].[Provincia] ([ProvinciaId])
GO
ALTER TABLE [dbo].[Localidad] CHECK CONSTRAINT [FK_Localidad_Provincia]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Especialidad_Medico] FOREIGN KEY([IDEspecialidad])
REFERENCES [dbo].[Especialidad] ([EspecialidadId])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Especialidad_Medico]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Usuario] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Medico_Usuario]
GO
ALTER TABLE [dbo].[MedicoSucursal]  WITH CHECK ADD  CONSTRAINT [FK_MedicoSucursal_Medico] FOREIGN KEY([IDMedico])
REFERENCES [dbo].[Medico] ([MedicoID])
GO
ALTER TABLE [dbo].[MedicoSucursal] CHECK CONSTRAINT [FK_MedicoSucursal_Medico]
GO
ALTER TABLE [dbo].[MedicoSucursal]  WITH CHECK ADD  CONSTRAINT [FK_MedicoSucursal_Sucursal] FOREIGN KEY([IDSucursal])
REFERENCES [dbo].[Sucursal] ([SucursalId])
GO
ALTER TABLE [dbo].[MedicoSucursal] CHECK CONSTRAINT [FK_MedicoSucursal_Sucursal]
GO
ALTER TABLE [dbo].[PlanObraSocial]  WITH CHECK ADD  CONSTRAINT [FK_Plan_ObraSocial] FOREIGN KEY([IDObraSocial])
REFERENCES [dbo].[ObraSocial] ([ObraSocialId])
GO
ALTER TABLE [dbo].[PlanObraSocial] CHECK CONSTRAINT [FK_Plan_ObraSocial]
GO
ALTER TABLE [dbo].[Sucursal]  WITH CHECK ADD  CONSTRAINT [FK_Sucursal_Localidad] FOREIGN KEY([IDLocalidad])
REFERENCES [dbo].[Localidad] ([LocalidadId])
GO
ALTER TABLE [dbo].[Sucursal] CHECK CONSTRAINT [FK_Sucursal_Localidad]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_FechaTurno] FOREIGN KEY([IDFechaTurno])
REFERENCES [dbo].[FechaTurno] ([FechaTurnoID])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_FechaTurno]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_Localidad] FOREIGN KEY([IDLocalidad])
REFERENCES [dbo].[Localidad] ([LocalidadId])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_Localidad]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_Medico] FOREIGN KEY([IDMedico])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_Medico]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_Provincia] FOREIGN KEY([IDProvincia])
REFERENCES [dbo].[Provincia] ([ProvinciaId])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_Provincia]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_Sucursal] FOREIGN KEY([IDSucursal])
REFERENCES [dbo].[Sucursal] ([SucursalId])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_Sucursal]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_Usuario] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_Usuario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Afiliado] FOREIGN KEY([IDAfiliado])
REFERENCES [dbo].[Afiliado] ([AfiliadoID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Afiliado]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Perfil] FOREIGN KEY([IDPerfil])
REFERENCES [dbo].[Perfil] ([PerfilId])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Perfil]
GO
