body {

}

.buttonsSection {
    width: 30%;
    height: 100%;
    float: left;
    background-color: darkblue;
}

.inputSection {
    width: 70%;
    height: 500px;
    float: right;
}

.button {
    margin-top: 40px;
}

.dropDowns {
    margin-left: 15px;
    margin-right: 15px;
    width: 120px;
}

.topSide{
    height:40%;
    margin-left:10px;
}

.bottomSide {
    height: 60%;
    margin-left: 10px;
}

.abms{
    width:33%;
    float:left;
}

.abmSelected{
    display:block;
    text-align:center;
}