body {

}

.buttonsSection {
    width: 25%;
    height: 500px;
    float: left;
    background-color: darkblue;
}

.inputSection {
    width: 73%;
    height: 500px;
    float: right;
}

.newTurn{
    height: 45%;
}

.deleteTurn {
    height: 100%;
}

.dropDowns {
    margin-left: 15px;
    margin-right: 15px;
    width: 120px;
}